* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* --- Style KeyFrames ---*/

.animacion {
  opacity: 0;
  transition: all 0.5s;
}
.mostrarArriba {
  animation: mostrarArriba 2s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0);
  }
}

.animacion-izquierda {
  opacity: 0;
  transition: all 0.5s;
}
.mostrarIzquierda {
  animation: mostrarIzquierda 2s;
}
@keyframes mostrarIzquierda {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(0);
  }
}

.animacion-derecha {
  opacity: 0;
  transition: all 0.5s;
}
.mostrarDerecha {
  animation: mostrarDerecha 2s;
}
@keyframes mostrarDerecha {
  0% {
    transform: translateX(110px);
  }
  100% {
    transform: translateX(0);
  }
}

.header {
  width: 100%;
  height: 110px;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
}
/*--- Menu ---*/
.contenedor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px;
}
.img-title {
  width: 50px;
  height: 50px;
  margin: 0 15px;
}
.btn-menu {
  font-size: 25px;
  border-radius: 4px;
  padding: 20px;
  margin: 0;

  color: #fff;
  background-color: rgb(77, 77, 77);
}
.menu {
  position: absolute;
  top: 90px;
  left: -100%;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: rgba(0, 0, 0, 0.8);
}
.menu-contenedor {
  flex-direction: column;
}
.menu-link {
  margin: 20px 0;
  padding: 5px;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
}
.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.container-welcome {
  position: relative;
  top: 90px;
  overflow: hidden;
}

.img-header {
  height: 640px;
  width: 100%;
  object-fit: cover;
  background: rgb(0, 0, 0);
}
.welcome {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
}
.welcome-title {
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin: 10px 0;
  padding: 5px;
  font-family: "Roboto";
  font-weight: 700;
}
.welcome__sub-title {
  font-size: 22px;
  text-align: center;
  color: #fff;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}
.btn-welcome {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.btn-quienes-somos {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
  color: #fff;
  border-radius: 15px;
  font-size: 19px;
  border: 1px solid #fff;
  padding: 10px 10px;
  margin: 15px 0;
  transition: 0.3s;
}
.btn-cotizaciones {
  font-size: 19px;
  font-family: "Poppins";
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 15px;
  transition: 0.3s;
}
@media (min-width: 960px) {
  .contenedor-header {
    height: 100px;
    background-color: transparent;
  }
  .menu {
    top: 20px;
    left: 30%;
    width: 70%;
    height: 30%;
    margin: 0 auto;
    background-color: initial;
  }
  .menu-contenedor {
    flex-direction: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    font-size: 18px;
    margin: 0;
    padding: 20px;
  }
  .menu-link {
    width: unset;
    margin: auto 10px;
    transition: 0.8s;
  }
  .menu-link:hover {
    border-bottom: 2px solid rgb(0, 10, 100);
  }
  .link {
    color: rgb(0, 1, 88);
    transition: 0.5s;
  }

  .btn-menu {
    display: none;
  }
  .container-welcome {
    background-image: url("./imagenes/Portada\ WEB\ PC\ .png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .welcome {
    height: 100%;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 2, 107, 0.712);
    align-items: flex-start;
  }
  .welcome-title {
    font-size: 38px;
    padding: 20px;
  }
  .welcome__sub-title {
    font-size: 22px;
    text-align: left;
    padding: 20px;
  }
  .btn-welcome {
    align-items: flex-start;
    padding: 20px;
    flex-direction: row;
  }
  .btn-cotizaciones {
    margin: 15px;
  }
  .btn-quienes-somos:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(19, 29, 116);
  }
  .btn-cotizaciones:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(19, 29, 116);
  }
}
@media (min-width: 1024px) {
  .welcome-title {
    font-size: 42px;
    margin-right: 800px;
  }

  .welcome__sub-title {
    width: 50%;
    padding: 10px;
    margin-right: 450px;
  }
  .btn-welcome {
    margin-right: 750px;
    padding: 20px;
  }
}

/*---Servicios----*/

.section-servicios {
}
.contenedor-servicios {
  margin-top: 50px;
  padding: 20px;
  overflow: hidden;
}

.servicios-title {
  width: 100%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: rgb(64, 64, 64);
}
.img-servicios {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.box-servicios__img {
  display: flex;
  justify-content: center;
}
.sub-title-servicios {
  font-size: 24px;
  padding: 10px 0;
}
.parrafo-servicios {
  color: rgb(0, 0, 0);
  margin: 10px;
  font-size: 22px;
}
.servicios-tags {
  padding: 20px;
}
.list-tags {
  padding: 25px;
  font-size: 20px;
}

/* --- Responsive Servicios ---*/

@media (min-width: 960px) {
  .section-servicios {
    padding: 20px;
  }
  .servicios-title {
    font-size: 45px;
  }
  .servicios-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .box-servicios__img {
    margin: 50px;
  }
  .img-servicios {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.452);
  }
  .servicios-tags_uno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;

    gap: 20px;
  }
  .container-tags_uno,
  .parrafo-servicios {
    grid-column: 1 / span 2;
    margin: 0;
  }
  .servicios-tags_dos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
  }
}

/*--- Acerca de ---*/

.contenedor-sobre-nosotros {
  padding: 30px;
  background-color: rgb(255, 255, 255);
}
.title-sobre-nosotros {
  font-size: 29px;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: auto;
}
.sub-title-nosotros {
  font-weight: 100;
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 10px auto;
}
.parrafo-nosotros {
  padding: 10px;
  font-weight: 100;
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 15px auto;
}
.contenedor-tags {
  padding: 15px 0;
}
.tags {
  display: flex;

  align-items: center;
  margin: 10px 25px;
}
.circle-rojo {
  border: 6px solid rgb(235, 68, 68);
  border-radius: 50%;
  padding: 20px 10px;
  color: rgb(71, 67, 67);
}
.circle-verde {
  border: 6px solid rgb(30, 158, 107);
  border-radius: 50%;
  padding: 20px 10px;
  color: rgb(71, 67, 67);
}
.circle-azul {
  border: 6px solid rgb(58, 176, 226);
  border-radius: 50%;
  padding: 20px 10px;
  color: rgb(71, 67, 67);
}
.circle-yellow {
  border: 6px solid rgb(247, 216, 97);
  border-radius: 50%;
  padding: 20px 10px;
  color: rgb(71, 67, 67);
}

p {
  color: rgb(71, 67, 67);
  font-size: 18px;
  margin: 0 15px;
}

/*--- Responsive Acerda de---*/

@media (min-width: 760px) {
  .contenedor-sobre-nosotros {
    padding: 50px;
  }

  .title-sobre-nosotros {
    font-size: 38px;
    margin: 20px 0;
  }
  .sub-title-nosotros {
    font-weight: 100;
    font-size: 24px;
  }
  .contenedor-tags {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .tags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  p {
    margin: 5px;
  }
}

/*--- Proyectos ---*/
.corte-seccion {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  border-bottom: rgb(255, 255, 255);
}

.proyectos {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 255, 1) 35%,
    rgba(243, 244, 250, 0.00043767507002800965) 100%
  );
}

.contenedor-proyectos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}
.title-proyectos {
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
  color: rgb(255, 255, 255);
}
.sub-title {
  width: 100%;
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 20px;
}

.box-proyectos {
  padding: 20px;
}
.btn-proyectos {
  background-color: rgb(255, 255, 255);
  padding: 15px 13px;
  margin-bottom: 35px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(4, 0, 255);
  transition: 0.3s;
}
.btn-proyectos:hover {
  background-color: rgb(15, 0, 99);
  border: 1px solid #fff;
  border-radius: 5px;
  color: #f0f8ff;
}

/*---Responsive Proyectos ---*/

@media (min-width: 960px) {
  .title-proyectos {
    font-size: 55px;

    padding: 20px 0;
  }
}
/*--- Seccion slider clientes ---*/
.flexslider {
  padding: 20px 0;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #f0f8ff;
}
.title-slider {
  text-align: center;
  padding: 20px;
  color: #000;
  font-weight: bolder;
  font-size: 26px;
}

.slides {
  display: flex;
  width: 800%;
  height: 800px;
  margin-left: -100%;
  position: relative;
}

.slider-section {
  width: 100%;
  display: flex;
}

.slider-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
/*
.btn-slider {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  z-index: 99999;
}

.btn-slider:hover {
  color: #f5f230;
}
.slider_btn-right {
  right: 100px;
}
.slider_btn-left {
  left: 100px;
}*/
@media (min-width: 960px) {
  .slides {
    width: 200%;
    height: 200px;
  }
  .title-slider {
    font-size: 38px;
    margin: 20px 0;
    text-align: center;
  }
}

/*--- Seccion img-icon*/

.container-icon_img {
  padding: 10px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.title-icon_img {
  font-size: 35px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  margin-top: 15px;
}
.img-icon {
  margin: auto;
  padding: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid #000;
}
.text-icon_img {
  margin-top: 10px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}
/*--- Responsive img-servicios --*/
@media (min-width: 960px) {
  .container-icon_img {
    height: 300px;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
  }
  .container-box_img {
    padding: 50px;
  }
}

/*--- Formulario ---*/

.section-form {
  width: 100%;
  background-image: url("./imagenes/Portada\ WEB\ RESPONSIVE\ .png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.contenedor-form {
  padding: 24px 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.title-form {
  padding: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 28px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.label-input {
  margin: 0;
  font-size: 24px;
}
.label-input,
input {
  width: 100%;
  max-width: 320px;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  border: none;
  font-family: "Montserrat", sans-serif;
}
input:focus {
  border: 2px solid rgb(97, 241, 241);
  background-color: #f0f8ff;
}
.textarea {
  width: 100%;
  font-size: 16px;
  padding: 15px;
  max-width: 295px;
  min-height: 250px;
  border-radius: 4px;
  outline: none;
  border: none;

  font-family: "Montserrat", sans-serif;
}
.textarea:focus {
  border: 2px solid rgb(97, 241, 241);
  background-color: #f0f8ff;
}
.btn-enviar {
  width: 87%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: rgb(4, 0, 255);
  padding: 20px 35px;
  margin: 15px auto;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}
.btn-enviar:hover {
  background-color: rgb(15, 0, 99);
  color: rgb(255, 255, 255);
}

@media (min-width: 960px) {
  .title-form {
    width: 100%;
    font-size: 39px;
  }

  .contenedor-form {
    padding: 20px;
  }
  .form {
    width: 100%;
    padding: 5px;
    max-height: 610px;
    display: grid;
    justify-content: space-around;
  }

  .textarea {
    grid-column: 1 / span 2;
    padding: 15px;
    margin-left: 8px;
    max-width: 780px;
    max-height: 200px;
  }
  .label-input,
  input {
    padding: 15px 0;
  }
  .btn-enviar {
    width: 100%;
    font-size: 18px;
    margin-left: 5px;
    align-content: left;
  }
}
/*--- Responsive Formulario ---*/

@media (min-width: 1069px) {
  .form {
    padding: 5px;
  }

  input {
    width: 100%;
    padding: 20px 50px;
    margin: 5px;
  }
  .textarea {
    width: 100%;
    max-width: 9000px;
    max-height: 200px;
  }
  .btn-enviar {
    padding: 20px 0;
    justify-content: right;
  }
}

@media (min-width: 1200px) {
  .form {
    height: 100vh;
  }

  .textarea {
    width: 100%;
    max-width: 960px;
    max-height: 200px;
  }
}

/*---- Estilos footer ----*/

.container-footer {
  background-color: rgb(64, 64, 64);
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.informacion-footer {
  margin: auto;
  text-align: center;
  padding: 10px;
}
.direccion-footer {
  font-size: 16px;
  color: rgb(147, 147, 147);
  margin: 15px auto;
  padding: 10px;
}
.correo-electronico {
  font-size: 16px;
  color: rgb(147, 147, 147);
  text-decoration: none;
  padding: 10px;
}
.telefono {
  font-size: 16px;
  color: rgb(147, 147, 147);
  margin: 15px auto;
  padding: 10px;
}
.redes-copy-footer {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 50px;
  background-color: rgb(23, 23, 23);
}
.icon-facebook {
  font-size: 24px;
  color: rgb(133, 133, 133);
}
.icon-instagram {
  padding: 5px 15px;
  font-size: 24px;
  color: rgb(133, 133, 133);
}
.copy {
  margin: 10px;
  font-size: 16px;
  color: rgb(133, 133, 133);
}

/* --- Responsive Footer ---*/

@media (min-width: 960px) {
  .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .redes-copy-footer {
    width: 20%;
    height: 120px;
  }
  .redes {
    transition: 0.5s;
    color: #fff;
  }
  .redes:hover {
    color: rgb(0, 1, 88);
  }

  .informacion-footer {
    width: 70%;
    display: flex;
    align-items: center;
  }
}
