* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* --- Style KeyFrames ---*/

.animacion {
  opacity: 0;
  transition: all 0.5s;
}
.mostrarArriba {
  animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
  }
}

.animacion-izquierda {
  opacity: 0;
  transition: all 0.5s;
}
.mostrarIzquierda {
  animation: mostrarIzquierda 1s;
}
@keyframes mostrarIzquierda {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(0);
  }
}

.animacion-derecha {
  opacity: 0;
  transition: all 0.5s;
}
.mostrarDerecha {
  animation: mostrarDerecha 1s;
}
@keyframes mostrarDerecha {
  0% {
    transform: translateX(110px);
  }
  100% {
    transform: translateX(0);
  }
}

.header {
  overflow: hidden;
}
/*--- Menu ---*/
.contenedor-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 15px;
}
.img-title {
  width: 50px;
  height: 50px;
  margin: 0 15px;
}
.btn-menu {
  font-size: 20px;
  border-radius: 4px;
  padding: 10px;
  margin: 0;

  color: #fff;
  background-color: rgb(77, 77, 77);
}
.menu {
  position: absolute;
  top: 90px;
  left: -100%;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: rgba(20, 161, 104, 0.7);
}
.menu-contenedor {
  margin: auto 10px;
  flex-direction: column;
  font-size: 18px;
}
.menu-link {
  width: 100%;
  margin: 20px auto;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid;
}
.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header-welcome {
  height: 100vh;
  width: 100%;
  background-image: url("./imagenes/logo-sp-seguridad.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
}
.welcome-title {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin: 30px 0;
}
.btn-welcome {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.btn-quienes-somos {
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  font-size: 19px;
  background-color: rgb(233, 102, 86);
  padding: 10px 10px;
  margin: 15px 0;
  transition: 0.3s;
}
.btn-cotizaciones {
  font-size: 19px;
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  background-color: rgb(30, 158, 107);
  border-radius: 4px;
  transition: 0.3s;
}
@media (min-width: 960px) {
  .contenedor-header {
    width: 100%;
    position: fixed;
    background-color: ivory;
  }
  .menu {
    top: 20px;
    left: 30%;
    width: 70%;
    height: 30%;
    margin: 0 auto;
    background-color: initial;
  }
  .menu-contenedor {
    width: 80%;
    height: 10%;
    flex-direction: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    font-size: 18px;
    margin: 0;
    padding: 15px;
  }
  .menu-link {
    width: unset;
    margin: auto 10px;
    overflow: auto;
    transition: all 0.6s;
  }
  .menu-link:hover {
    border-bottom: 2px solid rgb(45, 80, 133);
  }
  .link {
    color: rgb(45, 80, 133);
  }

  .btn-menu {
    display: none;
  }

  .welcome-title {
    font-size: 42px;
  }
  .btn-welcome {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: row;
  }
  .btn-cotizaciones {
    margin: 15px;
  }
  .btn-quienes-somos:hover {
    background-color: rgb(209, 64, 45);
  }
  .btn-cotizaciones:hover {
    background-color: rgb(14, 116, 75);
  }
}

/*---Servicios----*/

.contenedor-servicios {
  margin: 30px auto;
  overflow: auto;
}

.servicios {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  text-align: center;
}

.servicios-title {
  padding: 25px;
  font-size: 45px;
  text-align: center;
  color: rgb(64, 64, 64);
}
.img-servicios {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid rgba(141, 141, 141, 0.281);
}
.servicios-parrafos {
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  font-family: "Lato", sans-serif;
  color: rgb(64, 64, 64);
  padding: 5px;
}

.municipio {
  background-color: rgb(233, 102, 86);
  max-width: 35%;
  border: none;
  height: 4px;
  margin: 0 auto;
}
.camaras {
  background-color: rgb(52, 210, 147);
  max-width: 30%;
  height: 4px;
  border: none;
  margin: 0 auto;
}
.vecinal {
  background-color: rgb(58, 176, 226);
  width: 29%;
  height: 4px;
  border: none;
  margin: 0 auto;
}
.control {
  background-color: rgb(247, 216, 97);
  max-width: 30%;
  height: 4px;
  border: none;
  margin: 0 auto;
}
.alarmas {
  background-color: rgb(233, 102, 86);
  max-width: 20%;
  height: 4px;
  border: none;
  margin: 0 auto;
}
.covid {
  background-color: rgb(52, 210, 147);
  max-width: 40%;
  height: 4px;
  border: none;
  margin: 0 auto;
}

/* --- Responsive Servicios ---*/

@media (min-width: 960px) {
  .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
  }
  .img-servicios {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid rgba(141, 141, 141, 0.281);
    cursor: pointer;
    transition: 0.3s;
  }
  .municipio-circle:hover {
    border: 8px solid rgb(233, 102, 86);
  }
  .camaras-circle:hover {
    border: 8px solid rgb(52, 210, 147);
  }
  .vecinal-circle:hover {
    border: 8px solid rgb(58, 176, 226);
  }
  .control-circle:hover {
    border: 8px solid rgb(247, 216, 97);
  }
  .alarmas-circle:hover {
    border: 8px solid rgb(233, 102, 86);
  }
  .covid-circle:hover {
    border: 8px solid rgb(52, 210, 147);
  }
}

/*--- Acerca de ---*/

.contenedor-sobre-nosotros {
  background: rgb(39, 39, 39);
  padding: 30px;
}
.title-sobre-nosotros {
  font-size: 29px;
  padding: 10px;
  color: #fff;
  text-align: center;
  margin: auto;
}
.sub-title-nosotros {
  font-weight: 100;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin: 10px auto;
}
.parrafo-nosotros {
  padding: 10px;
  font-weight: 100;
  font-size: 17px;
  color: rgb(133, 133, 133);
  text-align: center;
  margin: 15px auto;
}
.contenedor-tags {
  padding: 15px 0;
}
.tags {
  display: flex;

  align-items: center;
  margin: 10px 25px;
}
.circle-rojo {
  border: 6px solid rgb(235, 68, 68);
  border-radius: 50%;
  padding: 20px 10px;
  color: #fff;
}
.circle-verde {
  border: 6px solid rgb(30, 158, 107);
  border-radius: 50%;
  padding: 20px 10px;
  color: #fff;
}
.circle-azul {
  border: 6px solid rgb(58, 176, 226);
  border-radius: 50%;
  padding: 20px 10px;
  color: #fff;
}
.circle-yellow {
  border: 6px solid rgb(247, 216, 97);
  border-radius: 50%;
  padding: 20px 10px;
  color: #fff;
}

p {
  color: #fff;
  font-size: 18px;
  margin: 0 15px;
}

/*--- Responsive Acerda de---*/

@media (min-width: 760px) {
  .contenedor-sobre-nosotros {
    padding: 50px;
  }

  .title-sobre-nosotros {
    font-size: 38px;
    margin: 20px 0;
  }
  .sub-title-nosotros {
    font-weight: 100;
    font-size: 24px;
  }
  .contenedor-tags {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .tags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  p {
    margin: 5px;
  }
}

/*--- Proyectos ---*/

.proyectos {
  width: 100%;
  background-image: url("./imagenes/logo-sp-seguridad.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.contenedor-proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: rgba(52, 218, 147, 0.9);
}
.title-proyectos {
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
  color: rgb(255, 255, 255);
}
.sub-title {
  font-size: 16px;
  color: rgba(0, 0, 0);
  margin-top: 15px;
  text-align: center;
}
.parrafo-proyectos {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 15px auto;
}
.enlace-proyectos {
  margin: 10px auto;
  text-decoration: none;
  color: rgb(235, 68, 68);
  font-size: 20px;
}
.proyectos-title {
  font-size: 24px;
  color: rgb(255, 255, 255);
  padding: 50px 0;
  text-align: center;
}
.box-proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-proyectos {
  background: rgb(20, 161, 104);
  padding: 15px 13px;
  margin-bottom: 35px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

/*---Responsive Proyectos ---*/

@media (min-width: 960px) {
  .title-proyectos {
    font-size: 55px;
    text-align: center;
    padding: 10px 0;
    color: rgb(255, 255, 255);
  }
}

/*--- Formulario ---*/

.section-form {
  background-image: url("./imagenes/logo-sp-seguridad.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.contenedor-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px 0;
}
.title-form {
  padding: 0px 0px 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 28px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.lebel-input,
input {
  width: 100%;
  max-width: 320px;
  padding: 15px 0;
  margin: auto;
  border-radius: 5px;
  outline: none;
  border: none;
}
input:focus {
  border: 2px solid rgb(97, 241, 241);
  background-color: #f0f8ff;
}
.textarea {
  width: 100%;
  font-size: 16px;
  padding: 15px;
  max-width: 290px;
  min-height: 250px;
  border-radius: 4px;
  outline: none;
  border: none;
}
.textarea:focus {
  border: 2px solid rgb(97, 241, 241);
  background-color: #f0f8ff;
}
.btn-enviar {
  width: 89%;
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 20px 35px;
  margin: 15px auto;
  border: none;
  background-color: rgb(233, 102, 86);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}
.btn-enviar:hover {
  background-color: rgb(209, 64, 45);
}

@media (min-width: 960px) {
  .title-form {
    font-size: 39px;
  }

  .form {
    margin: 0;
    max-height: 610px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .textarea {
    grid-column: 1 / span 2;
    grid-row: 3;
    padding: 5px;
    margin: auto;

    max-width: 770px;
    max-height: 200px;
  }
  .lebel-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .btn-enviar {
    width: 40%;
    padding: 20px 0;
    margin-left: 225px;
    grid-column: 2;
    grid-row: 4;
  }
}
/*--- Responsive Formulario ---*/

@media (min-width: 1069px) {
  .form {
    height: 100vh;
  }

  .textarea {
    max-width: 850px;
    max-height: 200px;
  }
  .btn-enviar {
    width: 40%;
    padding: 20px 0;
    margin-left: 225px;
  }
}

@media (min-width: 1200px) {
  .form {
    height: 100vh;
  }

  .textarea {
    max-width: 970px;
    max-height: 200px;
  }
}

/*---- Estilos footer ----*/

.container-footer {
  background-color: rgb(64, 64, 64);
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.informacion-footer {
  margin: auto;
  text-align: center;
  padding: 10px;
}
.direccion-footer {
  font-size: 16px;
  color: rgb(147, 147, 147);
  margin: 15px auto;
  padding: 10px;
}
.correo-electronico {
  font-size: 16px;
  color: rgb(147, 147, 147);
  text-decoration: none;
  padding: 10px;
}
.telefono {
  font-size: 16px;
  color: rgb(147, 147, 147);
  margin: 15px auto;
  padding: 10px;
}
.redes-copy-footer {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 50px;
  background-color: rgb(23, 23, 23);
}
.icon-facebook {
  font-size: 24px;
  color: rgb(133, 133, 133);
}
.icon-instagram {
  padding: 5px 15px;
  font-size: 24px;
  color: rgb(133, 133, 133);
}
.copy {
  margin: 10px;
  font-size: 16px;
  color: rgb(133, 133, 133);
}

/* --- Responsive Footer ---*/

@media (min-width: 960px) {
  .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .redes-copy-footer {
    width: 20%;
    height: 120px;
  }
  .redes {
    transition: 0.5s;
  }
  .redes:hover {
    color: rgb(209, 64, 45);
  }

  .informacion-footer {
    width: 70%;
    display: flex;
    align-items: center;
  }
}
